In [1]:
import sqlite3
import pandas as pd
from pathlib import Path

# Point this to your repo root (or just hardcode the absolute path)
REPO_ROOT = Path(r"/Users/ale/Documents/Code Projects/openpoke")
DB_PATH = REPO_ROOT / "server" / "data" / "memory" / "memory_units.sqlite"
print(True if DB_PATH.exists() else False)

conn = sqlite3.connect(DB_PATH)

# Show tables
tables = pd.read_sql_query(
    "SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;",
    conn
)
display(tables)

True

              name
0     memory_units
1  sqlite_sequence

In [2]:
# Print the last 200 rows (most recent first)
df = pd.read_sql_query(
    """
    SELECT *
    FROM memory_units
    LIMIT 200;
    """,
    conn
)

display(df)

Empty DataFrame
Columns: [id, text, unit_type, entities_json, confidence, created_at, source_refs_json, is_active, dedupe_key]
Index: []